# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/

# IDE / editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variables / secrets
.env
.env.*

# Build / distribution files
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Node / React / Vite
node_modules/
frontend/node_modules/
frontend/dist/

# Local environment files
!.env.example